#event-form {
    background: linear-gradient(to bottom, #4b0082, #800080, #000000);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    margin-left: calc(100% - 330px);
    margin-right: 20px;
}

#event-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.events h2 {
    font-size: 28px;
    color: #fff;
    text-align: center;
}

#event-form input[type="text"],
#event-form textarea,
#event-form input[type="url"],
#event-form input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A020F0;
    border-radius: 8px;
    font-size: 16px;
}

#event-form button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#event-form button:hover {
    background-color: #A020F0;
}

#event-form input[type="text"],
#event-form textarea,
#event-form input[type="url"],
#event-form input[type="date"],
#event-form input[type="time"],
#event-form input[type="file"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A020F0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffffff;
}

.events .event {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1400px;
    margin: 0 auto;
}

.events .event img {
    max-width: 100%;
    border-radius: 15px;
}

.events .post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.events .post-actions button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.events .post-actions button:hover {
    background-color: #8A2BE2;
}

.events .comments-section {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.events .comment {
    margin-bottom: 10px;
}

.events .comment-actions button {
    margin-left: 10px;
}

#post-form {
    background: linear-gradient(to bottom, #4b0082, #800080, #000000);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: calc(100% - 330px);
    margin-left: 20px;
}

#post-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

#post-form input[type="text"],
#post-form textarea,
#post-form input[type="url"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A020F0;
    border-radius: 8px;
    font-size: 16px;
}

#post-form input[type="file"] {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A020F0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffffff;
}

#post-form input[type="checkbox"] {
    margin-right: 5px;
}

#post-form label[for="is-event"] {
    font-size: 22px;
    color: white;
}

#post-form button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#post-form button:hover {
    background-color: #A020F0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

.post {
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.post:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #A020F0, #8A2BE2);
    z-index: -1;
    border-radius: 15px;
}

.post h3 {
    font-size: 28px;
    color: #fff;
    text-align: center;
}

.post p {
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.post img {
    max-width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.post-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.post-actions button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.post-actions button:hover {
    background-color: #8A2BE2;
}