#event-form, #comment-form {
    background: linear-gradient(to bottom, #4b0082, #800080, #000000);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    position: relative;
}

@media (max-width: 767px) {
    #event-form, #comment-form {
        width: 90%;
        padding: 15px;
    }
}

@media (min-width: 1025px) {
    #event-form, #comment-form {
        width: 50%;
        padding: 20px;
        position: relative;
        top: 5px;
    }
}

#event-form h3, #comment-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

#event-form input[type="text"],
#event-form textarea,
#comment-form input[type="text"],
#comment-form textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #A020F0;
    border-radius: 8px;
    font-size: 16px;
    background-color: #ffffff;
}

#event-form button,
#comment-form button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

#event-form button:hover,
#comment-form button:hover {
    background-color: #8A2BE2;
}

#events-container, #comments-container {
    margin-top: 20px;
}

.events .event,
.comments .comment {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 1400px;
    margin: 0 auto;
}

.events .event img,
.comments .comment img {
    max-width: 100%;
    border-radius: 15px;
}

.events .post-actions button,
.comments .comment-actions button {
    background-color: #A020F0;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.events .post-actions button:hover,
.comments .comment-actions button:hover {
    background-color: #8A2BE2;
}

#event-form label {
    color: #ffffff;
    font-weight: bold;
}

#comment-form label {
    color: #ffffff;
    font-weight: bold;
}

#comment-image {
    display: none;
}
#event-image {
    display: none;
}

.custom-file-upload {
    background-color: #A020F0;
    border: 2px solid #8A0DAC;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
}

.custom-file-upload:hover {
    background-color: #8A0DAC;
    border-color: #6A0DAC;
}

.custom-file-upload:active {
    background-color: #6A0DAC;
    border-color: #4B0082;
}