body-setup {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(background.jpg);
    background-size: cover;
    background-position: center;
}

body.rtl {
    direction: rtl;
}

body.ltr {
    direction: ltr;
}

.sign-up-form {
    width: 600px;
    max-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 20px;
}

@media screen and (max-width: 600px) {
    .sign-up-form {
        top: 90%;
        width: 400px;
    }
}

.sign-up-form h1 {
    color: #A020F0;
    margin-bottom: 20px;
}

.sign-up-form h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-box {
    border-radius: 20px;
    padding: 12px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
}

.input-box:focus {
    border-color: #A020F0;
}

textarea {
    width: 100%;
    max-width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 24px;
    box-sizing: border-box;
    margin: 10px 0;
    background: white;
}

textarea:focus {
    border-color: #A020F0;
    background: #f8f8f8;
}

@media screen and (max-width: 600px) {
    textarea {
        font-size: 18px;
    }
}

.button {
    color: #fff;
    background-color: #A020F0;
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    font-size: 16px;
    margin: 15px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: #800080;
}
