.STARTCAFE {
    background-color: transparent;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.STARTCAFE h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.Coffee-loader {
    position: fixed;
    bottom: 10px;
    left: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 10%;
    height: 10%;
}

.glass {
    position: relative;
    width: 100px;
    height: 150px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 10px 10px 35px 35px;
    overflow: hidden;
}

.Coffee {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #996633;
    border-radius: 5px 5px 30px 30px;
    animation: fillCoffee 8s ease-in-out infinite;
}

@keyframes fillCoffee {
    0%, 100% {
        height: 10%;
        border-radius: 5px 5px 30px 30px;
    }
    50% {
        height: 80%;
        border-radius: 25px;
    }
}

#STARTCAFE-form {
    display: none;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#STARTCAFE-form h3 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

#new-STARTCAFE-form input,
#new-STARTCAFE-form textarea,
#new-STARTCAFE-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#new-STARTCAFE-form textarea {
    height: 100px;
}

#new-STARTCAFE-form input[type="file"] {
    margin-bottom: 0;
}

#new-STARTCAFE-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#new-STARTCAFE-form button:hover {
    background-color: #45a049;
}

.coffee-table {
    width: 100%;
    border-collapse: collapse;
}

.coffee-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.coffee-option img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.coffee-option img:hover {
    transform: scale(1.1);
}


